doctype html
html
  head
    title Mi plantilla Pug
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet")
  body
  .container.mt-4
    h1 Bienvenido a mi plantilla Pug
    p #{mensaje}
    h2.text-center.m-5 #{titulo}
    .row
      each evento in eventos
        .col-4
          .card 
            img.card-img-top(src=evento.ruta alt=evento.descimg)
            .card-body
              h5.card-title #{evento.descripcion}
              ul.list-group.list-group-flush
                li.list-group-item Fecha: #{evento.fecha}
                li.list-group-item Hora: #{evento.hora}
                li.list-group-item Lugar: #{evento.lugar}
